# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json

# Testing
coverage/

# Docker
docker/*.local.yml
